<div class="card flex flex-column align-items-center  justify-content-center">
  <h1>Welcome to H-Bank Logs Management</h1>
<!--  <p-button label="Check" icon="pi pi-check"></p-button>-->
</div>

<!--Logs Form Start -->
<div class="card flex py-4 flex-column align-items-center  justify-content-center">

  <div class="card flex flex-column gap-5 justify-content-center">
    <span class="p-float-label">
        <input pInputText id="ko_code" [(ngModel)]="logs.ko_code" />
        <label htmlFor="ko_code">KO Code/CSP ID</label>
    </span>
    <span class="p-float-label">
        <input pInputText id="ko_name" [(ngModel)]="logs.ko_name" />
        <label htmlFor="ko_name">KO Name</label>
    </span>

    <span class="p-float-label">
    <p-inputMask mask="9999-999-999" [(ngModel)]="logs.contact_no" id="mobile_input"></p-inputMask>
    <label htmlFor="mobile_input">Contact Number</label>
    </span>
    <span class="p-float-label">
    <p-inputMask mask="999999" [(ngModel)]="logs.pincode" id="pin-input"></p-inputMask>
    <label htmlFor="pin-input">Pincode</label>
      <p-button label="Check" (click)="checkPincode()" class=" pt-2 px-2 py-2" icon="pi pi-check"></p-button>
    </span>
    <span class="p-float-label">
        <input pInputText id="location" [(ngModel)]="logs.location" />
        <label htmlFor="location">Location</label>
    </span>
    <span class="p-float-label">
        <input pInputText id="district" [(ngModel)]="logs.district" />
        <label htmlFor="district">District</label>
    </span>
  </div>
</div>
<!--Logs Form End -->
